{% extends 'base.html.twig' %}

{% block title %}Gablau Services{% endblock %}

{% block body %}
<style>
    .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
</style>




   <section id="hero">
    <div id="heroCarousel" data-bs-interval="5000" class="carousel slide carousel-fade" data-bs-ride="carousel">

      <ol class="carousel-indicators" id="hero-carousel-indicators"></ol>

      <div class="carousel-inner" role="listbox">
       <!-- Slide 1 -->
        <div class="carousel-item active" style="background-image: url(assets/img/slide/slide-1.jpg)">
          <div class="carousel-container">
            <div class="container">
              <h2 class="animate__animated animate__fadeInDown">Bienvenu à <span>Gablau Services</span></h2>
              <p class="animate__animated animate__fadeInUp">Vitrine virtuelle à travers laquelle le client peut consulter une grande variétés des produits.</p>
              <a href="#about" class="btn-get-started animate__animated animate__fadeInUp scrollto">Détails....</a>
            </div>
          </div>
        </div>

         <!-- Slide 2 -->
        <div class="carousel-item" style="background-image: url(assets/img/slide/slide-2.jpg)">
          <div class="carousel-container">
            <div class="container">
              <h2 class="animate__animated animate__fadeInDown">Gablau Services G&S</h2>
              <p class="animate__animated animate__fadeInUp">Découvrez les équipements électroniques de toutes marques sur cette plateforme de commerce.</p>
              <a href="#about" class="btn-get-started animate__animated animate__fadeInUp scrollto">Détails...</a>
            </div>
          </div>
        </div>

        <!-- Slide 3 -->
        <div class="carousel-item" style="background-image: url(assets/img/slide/slide-3.jpg)">
          <div class="carousel-container">
            <div class="container">
              <h2 class="animate__animated animate__fadeInDown">Gablau Services G&S</h2>
              <p class="animate__animated animate__fadeInUp">Découvrez également nos services qui vous sont offerts.</p>
              <a href="#about" class="btn-get-started animate__animated animate__fadeInUp scrollto">Détails...</a>
            </div>
          </div>
        </div>

         <a class="carousel-control-prev" href="#heroCarousel" role="button" data-bs-slide="prev">
        <span class="carousel-control-prev-icon bi bi-chevron-left" aria-hidden="true"></span>
      </a>

      <a class="carousel-control-next" href="#heroCarousel" role="button" data-bs-slide="next">
        <span class="carousel-control-next-icon bi bi-chevron-right" aria-hidden="true"></span>
      </a>

    </div>
  </section><!-- End Hero -->

      </div>


{% endblock %}
