{% extends 'base.html.twig' %}

{% block title %}Gablau Services{% endblock %}

{% block body %}
{% if app.user %}
        <div class="mb-3">
            You are logged in as {{ app.user.prenom }}, <a href="{{ path('app_logout') }}">Logout</a>
        </div>
    {% endif %}

   <section id="hero">
    <div id="heroCarousel" data-bs-interval="5000" class="carousel slide carousel-fade" data-bs-ride="carousel">

      <ol class="carousel-indicators" id="hero-carousel-indicators"></ol>

      <div class="carousel-inner" role="listbox">
       <!-- Slide 1 -->
        <div class="carousel-item active" style="background-image: url(assets/img/slide/slide-1.jpg)">
          <div class="carousel-container">
            <div class="container">
              <h2 class="animate__animated animate__fadeInDown">Bienvenu à <span>Gablau Services</span></h2>
              <p class="animate__animated animate__fadeInUp">Vitrine virtuelle à travers laquelle le client peut consulter une grande variétés des produits.</p>
              <a href="#about" class="btn-get-started animate__animated animate__fadeInUp scrollto">Détails....</a>
            </div>
          </div>
        </div>

         <!-- Slide 2 -->
        <div class="carousel-item" style="background-image: url(assets/img/slide/slide-2.jpg)">
          <div class="carousel-container">
            <div class="container">
              <h2 class="animate__animated animate__fadeInDown">Gablau Services G&S</h2>
              <p class="animate__animated animate__fadeInUp">Découvrez les équipements électroniques de toutes marques sur cette plateforme de commerce.</p>
              <a href="#about" class="btn-get-started animate__animated animate__fadeInUp scrollto">Détails...</a>
            </div>
          </div>
        </div>

        <!-- Slide 3 -->
        <div class="carousel-item" style="background-image: url(assets/img/slide/slide-3.jpg)">
          <div class="carousel-container">
            <div class="container">
              <h2 class="animate__animated animate__fadeInDown">Gablau Services G&S</h2>
              <p class="animate__animated animate__fadeInUp">Découvrez également nos services qui vous sont offerts.</p>
              <a href="#about" class="btn-get-started animate__animated animate__fadeInUp scrollto">Détails...</a>
            </div>
          </div>
        </div>

       
    </div>
  </section><!-- End Hero -->

      </div>


{% endblock %}
